[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/sequence-v3"]
	path = lib/sequence-v3
	url = https://github.com/0xsequence/sequence-v3
[submodule "lib/erc2470-libs"]
	path = lib/erc2470-libs
	url = https://github.com/ScreamingHawk/erc2470-libs
