import { SequenceWaaS } from '@0xsequence/waas'

const network = 'arbitrum-sepolia' // change for the network you need
const projectAccessKey = 'AQAAAAAAAJbd_5JOcE50AqglZCtvu51YlGI'
const waasConfigKey = 'eyJwcm9qZWN0SWQiOjM4NjIxLCJycGNTZXJ2ZXIiOiJodHRwczovL3dhYXMuc2VxdWVuY2UuYXBwIn0='

const sequenceWaas = new SequenceWaaS({
  network,
  projectAccessKey,
  waasConfigKey,
})

// Get OIDC credential response and use with sequenceWaas.signIn
const handleSignIn = async (idToken: string) => {
  const walletAddress = await sequenceWaas.signIn({idToken}, 'your-session-name')

  console.log(walletAddress)
}
